* {
  font-family: "Courier New", Courier, monospace;
}
body {
  background-size: cover;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  height: 32px;
  display: flex;
  justify-content: end;
}
